{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [">1%", "since 2015"]
        },
        "useBuiltIns": true
      }
    ]
  ],
  "plugins": [
    "syntax-async-functions",
    "transform-regenerator",
    "transform-runtime"
  ]
}
